#detailpage{
  background: white;
  width: 85%;
  margin: 7%;
  height: 320px;
  padding: 10px;
}
#title {
  float: left;
  margin-top: 40px;
  margin-left:40px;
  font-family: arial, sans-serif;
}
#datepicker{
  font-weight: bold;
  cursor: pointer;
  border:2px solid #4CAF50;
  margin-top: 40px;
  margin-right: 40px;
  float:right;
}
#Errormsg{
  font-size: x-large;
  color: #114713;
}
.submitFrameDiv{
  width: 55%;
  display: inline-block;
}
.submitFrame{
  margin-top: 25px;
  background-color:#4CAF50;
  border-radius: 15px;
  color: #0a0a0a;
  border-color: rgb(42, 77, 42);
  font-size: 15px;
  padding: 5px 10px ;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 5px;
  width: 100px;
  height: 35px;
  align-items: center;
   transition: all 0.5s;
  cursor: pointer;
  outline: none;
  float: right;
}
.submitFrame span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitFrame span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.submitFrame:hover:enabled span {
  padding-left: 25px;
}

.submitFrame:hover:enabled span:after {
  opacity: 1;
  left: 0;
}

.submitFrame:disabled{
  opacity: 0.6;
}
#members {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

